/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: black;
  font-family: roboto;
  font-size: 35px;
  font-weight: bold;
}
.search-input-container {
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
}
.input {
  background-color: #f1f5f9;
  border-width: 0px;
}
.search-icon {
  width: 20px;
}
.unordered-list {
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
